[Unit]
Description=Slideshow background daemon
After=default.target

[Service]
Type=simple
ExecStart=/usr/libexec/shockos/mate/slideshow-background-daemon.sh
Restart=always

[Install]
WantedBy=default.target

