[Desktop Entry]
Version=1
Name=Themes and Colors
GenericName=Themes and Colors
Comment=Change the desktop theme and accent color
Exec=shock-themes
TryExec=shock-themes
Icon=emblem-art
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=theme;accent;color;dark;light;desktop;red;orange;yellow;green;blue;purple;pink;
Name[en_US]=Themes and Colors
