[Desktop Entry]
Name=Files
Name[af]=Files
Name[am]=ካጃ
Name[ar]=كاجا
Name[as]=Files
Name[ast]=Files
Name[az]=Files
Name[be]=Files
Name[bg]=Файлов мениджър (Files)
Name[bn]=Files
Name[bn_IN]=Files
Name[br]=Files
Name[bs]=Files
Name[ca]=Files
Name[ca@valencia]=Files
Name[cmn]=Files
Name[crh]=Files
Name[cs]=Files
Name[cy]=Files
Name[da]=Files
Name[de]=Files
Name[dz]=ནའུ་ཊི་ལཱསི།
Name[el]=Files
Name[en_AU]=Files
Name[en_CA]=Files
Name[en_GB]=Files
Name[eo]=Naŭtilo
Name[es]=Files
Name[es_AR]=Files
Name[es_CO]=Files
Name[et]=Files
Name[eu]=Files
Name[fa]=ناتیلوس
Name[fi]=Files
Name[fr]=Files
Name[fur]=Files
Name[fy]=Files
Name[ga]=Files
Name[gl]=Files
Name[gu]=નોટિલસ
Name[ha]=Files
Name[he]=Files
Name[hi]=नॉटिलस
Name[hr]=Files
Name[hu]=Files
Name[hy]=Նաուտիլիուս
Name[id]=Files
Name[ig]=Files
Name[is]=Files
Name[it]=Files
Name[ja]=Files
Name[ka]=ნაუტილუსი
Name[kk]=Files
Name[km]=Files
Name[kn]=Files‍
Name[ko]=카하
Name[ku]=Files
Name[ku_IQ]=کاخا
Name[ky]=Files
Name[li]=Files
Name[lt]=Files
Name[lv]=Files
Name[mai]=नाटिलस
Name[mg]=Files
Name[mi]=Paua
Name[mk]=Files
Name[ml]=നോട്ടിലസ്
Name[mn]=Наутилус
Name[mr]=नॉटीलस
Name[ms]=Files
Name[nb]=Files
Name[nds]=Files
Name[ne]=नटलस
Name[nl]=Files
Name[nn]=Files
Name[nso]=Files
Name[oc]=Files
Name[or]=ନଟିଲସ
Name[pa]=ਨਟੀਲਸ
Name[pl]=Files
Name[ps]=ناوټېلس
Name[pt]=Files
Name[pt_BR]=Files
Name[ro]=Files
Name[ru]=Files
Name[si]=Files
Name[sk]=Files
Name[sl]=Files
Name[sq]=Files
Name[sr]=Цаја
Name[sr@latin]=Files
Name[sv]=Files
Name[ta]=Files
Name[te]=నాటిలస్
Name[th]=Files
Name[tk]=Files
Name[tr]=Files
Name[ug]=Files
Name[uk]=Files
Name[ur]=Files
Name[uz]=Files
Name[vi]=Files
Name[wa]=Files.
Name[xh]=i-Files
Name[yo]=Files
Name[zh_CN]=Files
Name[zh_HK]=Files
Name[zh_TW]=Files
Name[zu]=Files
GenericName=Open Folder
GenericName[af]=Open gids
GenericName[am]=ፎልደር መክፈቻ 
GenericName[ar]=افتح مجلّدا
GenericName[as]=ফোল্ডাৰ খোলক
GenericName[ast]=Abrir Carpeta
GenericName[az]=Qovluğu Aç
GenericName[be]=Адкрывае каталог
GenericName[bg]=Отваряне на папка
GenericName[bn]=ফোল্ডার খুলুন
GenericName[bn_IN]=ফোল্ডার খুলুন
GenericName[br]=Digeriñ an teuliad
GenericName[bs]=Otvori Folder
GenericName[ca]=Obre la carpeta
GenericName[ca@valencia]=Obri una carpeta
GenericName[cmn]=開啟資料夾
GenericName[crh]=Cilbent Aç
GenericName[cs]=Otevřít složku
GenericName[cy]=Agor y blygell
GenericName[da]=Åbn mappe
GenericName[de]=Ordner öffnen
GenericName[dz]=སྣོད་འཛིན་ཁ་ཕྱེ།
GenericName[el]=Άνοιγμα φακέλου
GenericName[en_AU]=Open Folder
GenericName[en_CA]=Open Folder
GenericName[en_GB]=Open Folder
GenericName[eo]=Malfermi dosierujon
GenericName[es]=Abrir carpeta
GenericName[es_AR]=Abrir Carpeta
GenericName[es_CO]=Abrir Carpeta
GenericName[es_MX]=Abrir Carpeta
GenericName[et]=Avatakse kaust
GenericName[eu]=Ireki karpeta
GenericName[fa]=باز کردن پوشه
GenericName[fi]=Avaa kansio
GenericName[fr]=Ouvrir un dossier
GenericName[fur]=Vierç cartele
GenericName[fy]=Iepen Map
GenericName[ga]=Oscail Fillteán
GenericName[gl]=Abrir o cartafol
GenericName[gu]=ફોલ્ડર ખોલો
GenericName[he]=פתיחת תיקיה
GenericName[hi]=फ़ोल्डर खोलें
GenericName[hr]=Otvori mapu
GenericName[hu]=Mappa megnyitása
GenericName[hy]=Բացել թղթապանակ
GenericName[id]=Buka Folder
GenericName[is]=Opna Möppu
GenericName[it]=Apertura cartella
GenericName[ja]=フォルダーを開く
GenericName[ka]=გახსენი საქაღალდე
GenericName[kk]=Буманы ашу
GenericName[kn]=ಕಡತಕೋಶವನ್ನು ತೆರೆ
GenericName[ko]=폴더 열기
GenericName[ks]=फ़ोल्डर खोलें
GenericName[ku]=Peldankê veke
GenericName[ku_IQ]=کردنەوەی بوخچە
GenericName[ky]=Папканы ачуу
GenericName[la]=Aperire Forulus
GenericName[lt]=Atverti aplanką
GenericName[lv]=Atvērt mapi
GenericName[mai]=फोल्डर खोलू
GenericName[mg]=Sokafy ny lahatahiry
GenericName[mk]=Отвори папка
GenericName[ml]=അറ തുറക്കുക
GenericName[mn]=Хавтас нээх
GenericName[mr]=संचयीका उघडा
GenericName[ms]=Buka Folder
GenericName[nb]=Åpne mappe
GenericName[nds]=Verteeknis opmaken
GenericName[ne]=फोल्डर खोल्नुहोस्
GenericName[nl]=Map openen
GenericName[nn]=Opna mappe
GenericName[nso]=Bula Sephuthedi
GenericName[oc]=Dobrir un repertòri
GenericName[or]=ଫୋଲଡର ଖୋଲନ୍ତୁ
GenericName[pa]=ਫੋਲਡਰ ਖੋਲ੍ਹੋ
GenericName[pl]=Otwarcie katalogu
GenericName[ps]=پوښۍ پرانيستل
GenericName[pt]=Abrir pasta
GenericName[pt_BR]=Abrir pasta
GenericName[ro]=Deschide dosar
GenericName[ru]=Открыть папку
GenericName[sc]=Aberi Cartella
GenericName[si]=බහලුම විවෘත කරන්න
GenericName[sk]=Otvoriť priečinok
GenericName[sl]=Odpri mapo
GenericName[sq]=Hap kartelën
GenericName[sr]=Отворите фасциклу
GenericName[sr@latin]=Otvori fasciklu
GenericName[sv]=Öppna mapp
GenericName[ta]=அடைவை திறக்கவும்
GenericName[te]=సంచయమును తెరువుము
GenericName[th]=เปิดโฟลเดอร์
GenericName[tk]=Haltany Aç
GenericName[tr]=Dizin Aç
GenericName[ug]=فولدېرنى ئېچىش
GenericName[uk]=Відкрити теку
GenericName[ur]=فولڈر کھولیں
GenericName[uz]=Jildni ochish
GenericName[vi]=Mở thư mục
GenericName[wa]=Drovi ridant
GenericName[xh]=Vula Isiqulathi Seefayili
GenericName[zh_CN]=打开文件夹
GenericName[zh_HK]=開啟資料夾
GenericName[zh_TW]=開啟資料夾
GenericName[zu]=Vula isibaya
TryExec=caja
Exec=caja --no-desktop %U
NoDisplay=true
Terminal=false
Icon=folder-open
StartupNotify=false
Type=Application
MimeType=inode/directory;application/x-mate-saved-search;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.20.3
