[Unit]
Description=Manages Shock OS startup procedures
After=default.target

[Service]
Type=simple
ExecStart=/usr/libexec/shockos/startup.sh

[Install]
WantedBy=default.target
