[Desktop Entry]
Version=1
Name=Parental Controls
GenericName=Parental Controls
Comment=Manage the privilages of child profiles
Exec=bash -c "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY shock-parental-controls"
Icon=/usr/share/shock/icons/shock-parental-controls.svg
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=parent;parental;controls;limit;screen;time;privilages;restrictions;
Name[en_US]=Parental Controls
