[Desktop Entry]
Version=1
Name=Desktop Background
GenericName=Desktop Background
Comment=Change the desktop background
Exec=shock-backgrounds
TryExec=shock-backgrounds
Icon=background
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=wallpaper;desktop;background;
