[Desktop Entry]
Version=1
Name=Window Manager
GenericName=Window Manager
Comment=Change the window manager/compositor
Exec=shock-wm-settings
TryExec=shock-wm-settings
Icon=preferences-system-windows
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=wm;window;manager;compositor;
