[Desktop Entry]
Version=1
Name=Fonts
GenericName=Fonts
Comment=Manage the system fonts
Exec=shock-fonts
TryExec=shock-fonts
Icon=preferences-desktop-font
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=fonts;font;
Name[en_US]=Fonts
