Source: shockos-themes
Section: misc
Priority: optional
Maintainer: Carson Grover
Homepage: https://www.shockos.net
Package: shockos-themes
Version: 1.0
Architecture: all
Depends: python3, yaru-theme-gtk, yaru-theme-icon
Description: Change the desktop theme
    Allows the user to change between the different Yaru GTK and icon themes. GNOME Shell themes are changed on Shock OS GNOME Edition, and Marco (metacity) themes are changed on Shock OS MATE Edition.
