[Unit]
Description=Notification log daemon
After=default.target

[Service]
Type=simple
ExecStart=/usr/libexec/shockos/mate/notifications-log-daemon.sh
Restart=always

[Install]
WantedBy=default.target

