[Unit]
Description=Manages Shock OS startup procedures

[Service]
Type=simple
ExecStart=/usr/bin/shock-startup

[Install]
WantedBy=graphical-session.target
