Package: shock-os-[DE]-desktop
Version: [VERSION]
Architecture: all
Essential: no
Priority: optional
Depends: shock-os-core, [DE]
Recommends: [RECOMMENDS]
Maintainer: Carson Grover
Description: A modified version of the [DE] Desktop Environment for Shock OS. This package contains critical Shock OS software. Removing or tampering with this package will break your system.
