[Unit]
Description=Periodically checks for updates
After=default.target

[Service]
Type=simple
ExecStart=/usr/libexec/shockos/update-manager/check-for-updates.py

[Install]
WantedBy=default.target

