[Desktop Entry]
Name=Package Installer
GenericName=Package Installer
Comment=Install and view software packages
Exec=shock-package-installer %f
Icon=package
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;
Keywords=package;apt;dpkg;install;deb
Name[en_US]=Package Installer
