[Desktop Entry]
Name=Files
Name[af]=Files
Name[am]=ካጃ
Name[ar]=كاجا
Name[as]=Files
Name[ast]=Files
Name[az]=Files
Name[be]=Files
Name[bg]=Файлов мениджър (Files)
Name[bn]=Files
Name[bn_IN]=Files
Name[br]=Files
Name[bs]=Files
Name[ca]=Files
Name[ca@valencia]=Files
Name[cmn]=Files
Name[crh]=Files
Name[cs]=Files
Name[cy]=Files
Name[da]=Files
Name[de]=Files
Name[dz]=ནའུ་ཊི་ལཱསི།
Name[el]=Files
Name[en_AU]=Files
Name[en_CA]=Files
Name[en_GB]=Files
Name[eo]=Naŭtilo
Name[es]=Files
Name[es_AR]=Files
Name[es_CO]=Files
Name[et]=Files
Name[eu]=Files
Name[fa]=ناتیلوس
Name[fi]=Files
Name[fr]=Files
Name[fur]=Files
Name[fy]=Files
Name[ga]=Files
Name[gl]=Files
Name[gu]=નોટિલસ
Name[ha]=Files
Name[he]=Files
Name[hi]=नॉटिलस
Name[hr]=Files
Name[hu]=Files
Name[hy]=Նաուտիլիուս
Name[id]=Files
Name[ig]=Files
Name[is]=Files
Name[it]=Files
Name[ja]=Files
Name[ka]=ნაუტილუსი
Name[kk]=Files
Name[km]=Files
Name[kn]=Files‍
Name[ko]=카하
Name[ku]=Files
Name[ku_IQ]=کاخا
Name[ky]=Files
Name[li]=Files
Name[lt]=Files
Name[lv]=Files
Name[mai]=नाटिलस
Name[mg]=Files
Name[mi]=Paua
Name[mk]=Files
Name[ml]=നോട്ടിലസ്
Name[mn]=Наутилус
Name[mr]=नॉटीलस
Name[ms]=Files
Name[nb]=Files
Name[nds]=Files
Name[ne]=नटलस
Name[nl]=Files
Name[nn]=Files
Name[nso]=Files
Name[oc]=Files
Name[or]=ନଟିଲସ
Name[pa]=ਨਟੀਲਸ
Name[pl]=Files
Name[ps]=ناوټېلس
Name[pt]=Files
Name[pt_BR]=Files
Name[ro]=Files
Name[ru]=Files
Name[si]=Files
Name[sk]=Files
Name[sl]=Files
Name[sq]=Files
Name[sr]=Цаја
Name[sr@latin]=Files
Name[sv]=Files
Name[ta]=Files
Name[te]=నాటిలస్
Name[th]=Files
Name[tk]=Files
Name[tr]=Files
Name[ug]=Files
Name[uk]=Files
Name[ur]=Files
Name[uz]=Files
Name[vi]=Files
Name[wa]=Files.
Name[xh]=i-Files
Name[yo]=Files
Name[zh_CN]=Files
Name[zh_HK]=Files
Name[zh_TW]=Files
Name[zu]=Files
GenericName=File Manager
GenericName[af]=Lêerbestuurder
GenericName[am]=የ ፋይል አስተዳዳሪ
GenericName[ar]=مدير الملفات
GenericName[as]=নথিপত্ৰ পৰিচালক
GenericName[ast]=Xestor de ficheros
GenericName[az]=Fayl İdarəçisi
GenericName[be]=Файлавы кіраўнік
GenericName[bg]=Файлов Мениджър
GenericName[bn]=ফাইল ম্যানেজার
GenericName[bn_IN]=ফাইল পরিচালন ব্যবস্থা
GenericName[br]=Ardoer restroù
GenericName[bs]=Upravitelj datoteka
GenericName[ca]=Gestor de fitxers
GenericName[ca@valencia]=Gestor de fitxers
GenericName[cmn]=檔案管理程式
GenericName[crh]=Dosye İdarecisi
GenericName[cs]=Správce souborů
GenericName[cy]=Rheolydd ffeiliau
GenericName[da]=Filhåndtering
GenericName[de]=Dateiverwaltung
GenericName[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_AU]=File Manager
GenericName[en_CA]=File Manager
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministrilo
GenericName[es]=Gestor de archivos
GenericName[es_AR]=Gestor de Archivos
GenericName[es_CO]=Administrador de archivos
GenericName[es_MX]=Gestor de Archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi-kudeatzailea
GenericName[fa]=مدیر پرونده‌ها
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[fur]=Gjestôr di file
GenericName[fy]=Triembehearder
GenericName[ga]=Bainisteoir Comhad
GenericName[gl]=Xestor de ficheiros
GenericName[gu]=ફાઇલ સંચાલક
GenericName[ha]=Manajan Fayil
GenericName[he]=מנהל הקבצים
GenericName[hi]=फ़ाइल प्रबंधक
GenericName[hr]=Datotečni upravitelj
GenericName[hu]=Fájlkezelő
GenericName[hy]=Ֆայլի Կառավարիչ
GenericName[id]=Manajer Berkas
GenericName[ig]=Onyenlekọta faịlụ
GenericName[is]=Skráastjóri
GenericName[it]=File manager
GenericName[ja]=ファイルマネージャー
GenericName[ka]=ფაილ მენეჯერი
GenericName[kk]=Файлдық басқарушы
GenericName[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=파일 관리자
GenericName[ku]=Rêveberiya Pelan
GenericName[ku_IQ]=بەڕێوەبەری پەڕگە
GenericName[ky]=Файл менеджери
GenericName[li]=Besjtandjwirtsjaf
GenericName[lt]=Failų tvarkytuvė
GenericName[lv]=Failu pārvaldnieks
GenericName[mai]=फाइल प्रबंधक
GenericName[mg]=Mpandrindra rakitra
GenericName[mk]=Менаџер за датотеки
GenericName[ml]=ഫയല്‍ നടത്തിപ്പുകാരന്‍
GenericName[mn]=Файл менежер
GenericName[mr]=फाइल व्यवस्थापक
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filbehandler
GenericName[nds]=Dateioppasser
GenericName[ne]=फाइल प्रबन्धक
GenericName[nl]=Bestandsbeheer
GenericName[nn]=Filhandsamar
GenericName[nso]=Molaodi wa Faele
GenericName[oc]=Gestionari de fichièrs
GenericName[or]=ଫାଇଲ ପରିଚାଳକ
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[ps]=دوتنه سمبالګر
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ro]=Administrator de fișiere
GenericName[ru]=Менеджер файлов
GenericName[si]=ගොනු කළමණාකරු
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sq]=File Manager
GenericName[sr]=Управник датотека
GenericName[sr@latin]=Upravnik datotekama
GenericName[sv]=Filhanterare
GenericName[ta]=சாளர மேலாளர்
GenericName[te]=దస్త్ర నిర్వాహకి
GenericName[th]=โปรแกรมจัดการแฟ้ม
GenericName[tk]=Faýl Müdiri
GenericName[tr]=Dosya Yöneticisi
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Керівник файлів
GenericName[ur]=فائل منیجر
GenericName[uz]=Fayl Boshqaruvchi
GenericName[vi]=Bộ Quản lý Tập tin
GenericName[wa]=Manaedjeu di fitchîs
GenericName[xh]=Umphathi Wefayili
GenericName[yo]=Alábòójútó Fáìlì
GenericName[zh_CN]=文件管理器
GenericName[zh_HK]=檔案管理程式
GenericName[zh_TW]=檔案管理器
GenericName[zu]=Mphathi Hele
Exec=caja
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=false
NoDisplay=true
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.20.3
X-MATE-Autostart-Phase=Desktop
X-MATE-Autostart-Notify=true
X-MATE-AutoRestart=true
X-MATE-Provides=filemanager
