[Desktop Entry]
Version=1.0
Name=Update Manager
Comment=Check for and install package updates
Exec=shockos-update-manager
Icon=software-update-available
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
