[Desktop Entry]
Name=Floating Lightning Bolt
Name[am]=ተንሳፋፊ ኖም
Name[ar]=أقدام غنّوم طافية
Name[ast]=Lightning Bolt flotante
Name[be]=Lightning Bolt плавае
Name[bg]=Плаващ Lightning Bolt
Name[ca]=Lightning Bolt flotant
Name[ca@valencia]=Lightning Bolt flotant
Name[cmn]=浮動的 Lightning Bolt
Name[cs]=Plovoucí logo Lightning Bolt
Name[da]=Flydende Lightning Bolt
Name[de]=Schwebendes Lightning Bolt
Name[el]=Ελεύθερα μετακινούμενο Lightning Bolt
Name[en_AU]=Floating Lightning Bolt
Name[en_GB]=Floating Lightning Bolt
Name[es]=Lightning Bolt flotante
Name[et]=Hõljuv Lightning Bolt
Name[fa]=Lightning Bolt معلق
Name[fr]=Lightning Bolt flottants
Name[gl]=Lightning Bolt flotante
Name[hi]=फ्लोटिंग गनोम
Name[hr]=Plutajući Lightning Bolt
Name[hu]=Lebegő MATE
Name[hy]=Փոփոխական Lightning Bolt
Name[id]=Lightning Bolt Mengapung
Name[is]=Fljótandi Lightning Bolt
Name[it]=Lightning Bolt fluttuante
Name[ja]=フローティング Lightning Bolt
Name[kk]=Қалқымалы Lightning Bolt
Name[ko]=떠다니는 Lightning Bolt
Name[lt]=Plaukiojantis MATE
Name[ms]=Lightning Bolt terapung
Name[nb]=Flytende Lightning Bolt
Name[nl]=Vliegend Lightning Bolt-logo
Name[nn]=Flytande Lightning Bolt
Name[oc]=Lightning Bolt flotants
Name[pl]=Latające Lightning Bolt
Name[pt]=Lightning Bolt flutuante
Name[pt_BR]=Lightning Bolt Flutuante
Name[ro]=Lightning Bolt plutitor
Name[ru]=Плавающий Lightning Bolt
Name[sk]=Plávajúce logo Lightning Bolt
Name[sl]=Plavajoč Lightning Bolt
Name[sr]=Лебдећи Гном
Name[sv]=Flytande Lightning Bolt
Name[th]=Floating Lightning Bolt
Name[tr]=Yüzen Lightning Bolt
Name[uk]=Плаваючий Lightning Bolt
Name[vi]=Biểu tượng Lightning Bolt lơ lửng
Name[zh_CN]=浮动的 Lightning Bolt
Name[zh_TW]=浮動 Lightning Bolt
Comment=Bubbles the Lightning Bolt logo around the screen
Comment[ar]=فقاعات شعار غنّوم حول الشّاشة
Comment[ast]=Amuesa'l logo de Lightning Bolt flotando en burbuyes
Comment[be]=Бурбалкі з лагатыпам Lightning Bolt па ўсім экране
Comment[bg]=Балончета по екрана с логото на Lightning Bolt
Comment[ca]=Bombolles amb el logotip de Lightning Bolt per tota la pantalla
Comment[ca@valencia]=Bambolles amb el logotip del Lightning Bolt per tota la pantalla
Comment[cmn]=畫面上四處移動的 Lightning Bolt 圖標泡泡
Comment[cs]=Bublinky loga Lightning Bolt po obrazovce
Comment[da]=Bobler Lightning Bolt-logoet omkring på skærmen
Comment[de]=Das Lightning Bolt-Logo auf dem Bildschirm rumschweben lassen
Comment[el]=Φούσκες του λογότυπου του Lightning Bolt στην οθόνη
Comment[en_AU]=Bubbles the Lightning Bolt logo around the screen
Comment[en_GB]=Bubbles the Lightning Bolt logo around the screen
Comment[es]=Muestra el logo de Lightning Bolt flotando en burbujas
Comment[et]=Lightning Bolt logod ekraanil ringi hõljumas
Comment[fa]=حباب‌پراکنی از لوگوی گنوم در اطراف صفحهٔ نمایش
Comment[fr]=Diffuser le logo Lightning Bolt sous forme de bulles partout sur l'écran
Comment[gl]=Move o logotipo do Lightning Bolt pola pantalla
Comment[hi]=स्क्रीन के चारों ओर गनोम के प्रतीक चिन्ह को बुदबुदाता है
Comment[hr]=Ispušta zaštitni znak Lightning Bolt po zaslonu
Comment[hu]=A MATE logót lebegteti körbe a képernyőn
Comment[hy]= Lightning Bolt լոգոյի պղպջակները էկրանի շուրջը
Comment[id]=Balonkan logo kaki MATE di sekitar layar
Comment[is]=Freyðir Lightning Bolt-merkinu um skjáinn
Comment[it]=Fa rimbalzare il logo di Lightning Bolt sullo schermo
Comment[ja]=画面の回りに Lightning Bolt のロゴが浮かびます
Comment[ko]=화면에 그놈 발바닥 로고가 떠다닙니다
Comment[lt]=Lightning Bolt logotipas „burbuliuoja“ ekrane
Comment[ms]=Buih-buih logo Lightning Bolt disekeliling skrin
Comment[nb]=Bobler av Lightning Bolt-logoen rundt omkring på skjermen
Comment[nl]=Toont een Lightning Bolt-logo dat over het scherm vliegt
Comment[pl]=Wyświetla na ekranie logo Lightning Bolt
Comment[pt]=Bolhas com o logótipo do Lightning Bolt por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo Lightning Bolt ao redor da tela
Comment[ro]=Plimbă sigla Lightning Bolt pe ecran
Comment[ru]=Всплывающие по всему экрану логотипы Lightning Bolt
Comment[sk]=Bublinky loga Lightning Bolt na obrazovke
Comment[sl]=Ustvari mehurčke z logotipom Lightning Bolt po zaslonu
Comment[sr]=Приказује мехуриће Гномовог обележја по екрану
Comment[sv]=Bubblar runt Lightning Bolt loggan på skärmen
Comment[th]=เลื่อนโลโก้ของ Lightning Bolt ไปรอบๆหน้าจอ
Comment[tr]=Ekran üzerinde Lightning Bolt logosu baloncukları oluşturur
Comment[uk]=Логотипи Lightning Bolt, що виринають по усьому екрану
Comment[vi]=Thổi bong bóng biểu tượng Lightning Bolt xung quanh màn hình
Comment[zh_CN]=在屏幕上如泡泡一样浮动 Lightning Bolt 徽标
Comment[zh_TW]=讓 Lightning Bolt 標誌圍繞畫面
Exec=/usr/lib/mate-screensaver/mate-screensaver/floaters /usr/share/pixmaps/gnome-logo-white.svg
TryExec=/usr/lib/mate-screensaver/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=MATE;screensaver;GNOME;logo;bubbles;
OnlyShowIn=MATE;
