[Desktop Entry]
Name=Shock OS Startup
Comment=Required for Shock OS to function properly
Exec=shock-startup
X-GNOME-Autostart-Phase=Desktop
Type=Application
Terminal=false
