[Desktop Entry]
Name=shock-startup.desktop
Exec=shock-startup
Name[en_US]=shock-startup.desktop
X-GNOME-Autostart-Phase=Desktop
Type=Application
Terminal=false
