[Desktop Entry]
Version=1
Name=Panel Layouts
GenericName=Panel Layouts
Comment=Change the panel layout
Exec=shock-panel-layouts
TryExec=shock-panel-layouts
Icon=/usr/share/shock/icons/shock-panel-layouts.svg
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=panel;layout;layouts;taskbar;shelf;
