[Desktop Entry]
Version=1
Name=Panel Layouts
GenericName=Panel Layouts
Comment=Change the panel layout
Exec=shock-panel-layouts
TryExec=shock-panel-layouts
Icon=mate-panel
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=panel;layout;layouts;taskbar;shelf;
