[Desktop Entry]
Version=1.0
Name=Layouts
Comment=Change the desktop layout
Exec=shockos-mate-layouts
Icon=/usr/share/shockos/mate/shockos-mate-layouts/icons/appicon.svg
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
StartupNotify=false
