Source: shockos-update-manager
Section: misc
Priority: optional
Maintainer: Carson Grover
Homepage: https://www.shockos.net
Package: shockos-update-manager
Version: 1.0
Architecture: all
Depends: shockos-core (>= 10)
Description: Check for and install APT and Flatpak updates
    The intervals at which to check for updates can be managed through the preferences menu. Automatic updates can also be toggled through the preferences menu.
