[Desktop Entry]
Name=Layouts
Comment=Change desktop layout
Exec=shockos-gnome-layouts
Icon=panel-bottom-symbolic
Terminal=false
Type=Application
Categories=Settings;Application;
