[Desktop Entry]
Name=Layouts
Comment=Change desktop layout
Exec=shockos-gnome-layouts
Icon=/usr/share/shockos/gnome/shockos-gnome-layouts/icons/appicon.svg
Terminal=false
Type=Application
Categories=Settings;Application;
